@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}

.container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  width: 1200px;
  min-height: 100%;

  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  display: none;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: #F2F2F2;
  text-decoration: none;
  text-transform: uppercase;
}

.button-primary {
  background-color: #756157;
}

.button-secondary {
  background-color: #82B3D3;
}

.button-active {
  background-color: #7DB54F;
}

.button-transparent {
  background-color: unset;
}

/* header */
.page-header {
  min-height: 65px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.nav-logo {
  margin-right: 30px;
}

.nav-list {
  margin: 0;
  padding: 0;
  width: 440px;
}

.nav-list-user {
  width: 315px;
  margin-left: auto;
}

.nav-link {
  color: #000000;
  text-decoration: none;
}

.nav-link.button {
  color: #FFFFFF
}

/* main */
.main-container {
  flex-grow: 1;
}

/* hero */
.hero {
  color: #FFFFFF;
  background-color: rgba(129, 179, 211, 0.6);
  background-image: url(../images/hero/hero-bg.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hero figure {
  margin: 0;
}

.hero-text {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 80px;
}

/* advantages */

.section-title {
  margin: 0 auto;
  width: 630px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.section-desc {
  margin: 0 auto;
  width: 660px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  display: flex;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-dark {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-item-wrapper {
  padding: 100px 85px;
}

.advantages-item-title {
  width: 175px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.advantages-item-dark .advantages-item-title {
  color: #FFFFFF;
}

.advantages-item-desc {
  margin: 0;
  width: 230px;
}

.advantages-img {
  display: block;
}

/* services */
.services-header {
  text-align: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  padding: 80px 85px;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-light{
  background-color: unset;
}

.services-item-title {
  width: 230px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.services-item-desc {
  width: 230px;
}

/* search section */
.search {
  padding-top: 95px;
  padding-bottom: 95px;
  text-align: center;
}

/* subscription */
.subscription {
  padding-top: 95px;
  padding-bottom: 105px;

  text-align: center;
  color: #FFFFFF;
  background-color: rgba(129, 179, 211, 0.6);
  background-image: url(../images/subscription-bg.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscription-title {
  color: #FFFFFF;
}

.subscription-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

/* footer */
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1060px;
  min-height: 120px;

  color: #000000;
}

.footer-social {
  width: 190px;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

/* catalog page */
/* filter section */
.filter {
  padding-top: 35px;
  padding-bottom: 70px;

  color: #FFFFFF;
  background-color: rgba(129, 179, 211, 0.6);
  background-image: url(../images/filter-bg.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.filter-container {
  width: 1060px;
  margin: 0 auto;
}

.filter-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  /* list-style: none; */
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.filter-form {
  display: flex;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-group-title {
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
}

/* catalog */
.catalog {
  margin: 0 auto;
  width: 1060px;
}

.catalog-row {
  display: flex;
  align-items: center;
}

.catalog-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/* catalog card */
.catalog-results-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.housing-card {
  padding: 20px;
}

.housing-card-link {
  text-decoration: none;
}

.housing-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.housing-card p {
  font-size: 18px;
  line-height: 21px;
}

.housing-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

/* pagination */
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  width: 400px;

  list-style: none;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-skip {
  color: #000000;
  background-color: unset;
}

/* subscription - inner page */
.subscription-inner {
  color: #333333;
  background-color: inherit;
  background-image: unset;
}

.subscription-inner .section-title {
  color: #000000;
}
